<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
<head>
    <title></title>

    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="icon" href="/static/images/imovie_icon.ico">

    <!-- google fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css" media="screen"/>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/star-rating.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
            <script src="/static/js/star-rating.js"></script>
    <!--[if lt IE 9]>
			<script src="/static/js/html5shiv.js"></script>
			<script src="/static/js/respond.js"></script>
		<![endif]-->

    <!--[if IE 8]>
	    	<script src="/static/js/selectivizr.js"></script>
	    <![endif]-->

</head>

<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header navbar-left">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">主页</a>
        </div>

          <div id="navbar" class="navbar-collapse collapse navbar-right">
          <form class="navbar-form navbar-left">
              <input type="text" placeholder="输入电影名称" class="form-control">
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
            <li class="nav-item navbar-right">
                <!--登录则显示用户名，未登录则显示登录-->

                    <a class="nav-link disabled navbar-brand" href="/login">登录</a>

            </li>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
</div>





<div id="wrapper">


<!--<div class="container-fluid">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-3 col-md-2 " width="768px" style="background-color:#f5f5f5">-->
          <!--<ul class="nav nav-sidebar">-->
            <!--<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>-->
            <!--<li><a href="#">Reports</a></li>-->
            <!--<li><a href="#">Analytics</a></li>-->
            <!--<li><a href="#">Export</a></li>-->
          <!--</ul>-->
          <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item</a></li>-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
            <!--<li><a href="">More navigation</a></li>-->
          <!--</ul>-->
          <!--<ul class="nav nav-sidebar">-->
            <!--<li><a href="">Nav item again</a></li>-->
            <!--<li><a href="">One more nav</a></li>-->
            <!--<li><a href="">Another nav item</a></li>-->
          <!--</ul>-->
        <!--</div>-->

          <!--</div>-->
        <!--</div>-->

<a class="page-link" href="https://www.baidu.com/">asdbalisdhil</a>


    <div class="row">
        <div class="col-md-3"><img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1598751480.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>逆光飞翔 逆光飛翔</h3>
                    <small class="font-italic text-primary">剧情 / 爱情</small>
                </div>
                <p style="font-size: 16px">音乐天分超凡的男孩裕翔（黄裕翔饰）弹得一手好琴，却天生失明。他坚持不参加任何比赛，只希望能拥有像普通人一样的生活。他第一次离家北上念书，遇见热爱跳舞却因故被迫放弃梦想的女孩小洁（张榕容饰）。裕翔能“看见”世界上不被旁人看见的美丽，从未放弃过这个世界。他就像一缕温暖的逆光照进了小洁冰冷的内心，而小洁则带领着裕翔经历了他从未尝试过的冒险。两个看似永不会相交的灵魂，却成为彼此遗失的那份力量。两人身后的那道耀眼的逆光，正温暖着、鼓舞着他们向梦想展翅飞翔。本片改编自真人真事，男主人公黄裕翔本色演出。女主角则由台北电影节、亚太影展双料影后张榕容饰演，两人延续前作的绝佳默契，演绎了一段好友之间互相鼓励、勇敢逐梦的历程。导演张荣吉凭借此片荣获2012年第49届台湾电影金马奖最佳新导演奖，女主角张榕容荣获2012年第49届台湾电影金马奖最佳女主角提名，男主角黄裕翔荣获2013年第7届亚洲电影大奖最佳新演员提名。</p>

            </div>
    </div>
                <hr>

    <div class="row">
        <div class="col-md-3"><img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2266027536.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>布鲁克林 Brooklyn</h3>
                    <small class="font-italic text-primary">剧情 / 爱情</small>
                </div>
                <p style="font-size: 16px">艾莉丝（西尔莎·罗南SaoirseRonan饰）离开了故乡，离开了母亲和姐姐，前往美国寻找更多的机会和更广阔的未来。在神父弗雷德（吉姆·布劳德本特JimBroadbent饰）的帮助下，艾莉丝成为了一名售货员，出色的表现和不懈的努力让她成功获得了主管弗蒂尼（杰西卡·派尔JessicaParé饰）的认可和肯定。之后，艾莉丝结识了名为托尼（艾莫里·科恩EmoryCohen饰）男孩，两人之间碰擦出了爱情的火花。一场意外让艾莉丝重回故乡，很快，母亲的种种举动使她察觉，母亲希望自己留在这里，留在她的身边。在母亲的介绍之下，艾莉丝结识了善良的吉姆（多姆纳尔·格里森DomhnallGleeson饰），并且得到了一个很好的工作机会，站在人生的十字路口前，艾莉丝会做出怎样的选择？</p>

            </div>
    </div>
                <hr>

    <div class="row">
        <div class="col-md-3"><img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2243803873.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>我的个神啊 PK</h3>
                    <small class="font-italic text-primary">喜剧 / 奇幻</small>
                </div>
                <p style="font-size: 16px">贾古（安努舒卡·莎玛AnushkaSharma饰）意外邂逅了名为萨弗拉兹（苏翔特·辛·拉哈普特SushantSinghRajput饰）的男子，趣味相投的两人很快走到了一起。然而，萨弗拉兹是巴基斯坦人，他的国籍和信仰令这段恋情遭到了贾古家人的极力反对。不仅如此，贾古父亲信仰的教主塔帕斯维（沙鲁巴·舒克拉SaurabhShukla饰）更是预言萨弗拉兹注定要欺骗和抛弃贾古。为了证明预言的荒谬，贾古决定同萨弗拉兹闪婚，然而，婚礼当天，贾古等到的却是一封分手信。心碎的贾古回到了家乡，成为了一名记者。一次偶然中，贾古遇见了名为PK（阿米尔·汗AamirKhan饰）的男子，让贾古感到惊讶的是，PK竟然声称自己是一名外星人，因为宇宙飞船的钥匙被人抢走，所以流落至地球。刚开始，贾古以为PK在胡言乱语，不过，之后发生的种种令贾古开始相信PK所言，贾古甚至决定帮助PK寻找返回他的星球的方法。</p>

            </div>
    </div>
                <hr>

    <div class="row">
        <div class="col-md-3"><img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2237747953.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>复仇者联盟2：奥创纪元 Avengers: Age of Ultron</h3>
                    <small class="font-italic text-primary">动作 / 科幻 / 奇幻 / 冒险</small>
                </div>
                <p style="font-size: 16px">托尼·斯塔克（小罗伯特·唐尼RobertDowneyJr.饰）试图重启一个已经废弃的维和项目，不料该项目却成为危机导火索。世上最强大的超级英雄——钢铁侠、美国队长（克里斯·埃文斯ChrisEvans饰）、雷神（克里斯·海姆斯沃斯ChrisHemsworth饰）、绿巨人（马克·鲁弗洛MarkRuffalo饰）、黑寡妇（斯嘉丽·约翰逊ScarlettJohansson饰）和鹰眼（杰瑞米·雷纳JeremyRenner饰），不得不接受终极考验，拯救危在旦夕的地球。神秘反派奥创（詹姆斯·斯派德JamesSpader配音）逐渐崛起，超级英雄们必须重新集结，竭力阻止奥创实施人类灭绝计划。战斗中，复仇者联盟成员们还遇到了两个新人物——旺达·马克西莫夫（伊丽莎白·奥尔森ElizabethOlsen饰）和皮特罗·马克西莫夫（亚伦·泰勒-约翰逊AaronTaylor-Johnson饰），以及以全新面目归来的老朋友——幻视（保罗·贝坦尼PaulBettany饰）。世界秩序濒临崩溃，复仇者联盟必须阻止奥创的阴谋。强敌不断出现，一场空前绝后的全球浩战即将展开……</p>

            </div>
    </div>
                <hr>

    <div class="row">
        <div class="col-md-3"><img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2039109399.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>惊天危机 White House Down</h3>
                    <small class="font-italic text-primary">动作 / 灾难</small>
                </div>
                <p style="font-size: 16px">年轻的凯尔（查宁·塔图姆ChanningTatum饰）从阿富汗前线退伍后在国会安保部门工作，他的终极梦想是保护美国总统索亚（杰米·福克斯JamieFoxx饰）。凯尔与离婚的妻子育有一个正在上小学的女儿艾米莉（乔伊·金JoeyKing饰），她因为父亲入伍的经历变成了一个政治迷，尤其对索亚总统和白宫极其崇拜。凯尔为了让女儿高兴承诺带她参加白宫内部一日游，顺便在当天去应征由卡罗（玛吉·吉伦哈尔MaggieGyllenhaal饰）领导的特勤部门的工作。可是就在同一天，一伙身份不明的武装分子乔装潜入白宫并对索亚总统进行搜捕，一场腥风血雨蓄势待发。正在陪女儿参观的凯尔能否临危不惧解救总统？凯尔是否能同时保护女儿？而这场动机不明的暴力背后是否掩盖着不为人知的肮脏秘密？</p>

            </div>
    </div>
                <hr>

    <div class="row">
        <div class="col-md-3"><img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1610184632.jpg" width="200" height="200"></div>
            <div class="col-md-9">
                <div class="row">
                    <h3>阿修罗 アシュラ</h3>
                    <small class="font-italic text-primary">动画 / 恐怖 / 历史</small>
                </div>
                <p style="font-size: 16px">平安时代末，天灾人祸，世道离乱，横尸遍野。在这个人吃人的恐怖时代，一条受到诅咒的生命降临人间。年幼的他（野泽雅子配音）自幼以人肉为食，成为令人闻风丧胆的食人魔。直到与慈悲的法师（北大路欣也配音），他才终于有了名字“阿修罗”，一句“南无阿弥陀佛”更在阿修罗的心中种下人性复苏的种子。在被人追杀的绝望途中，阿修罗得到美丽少女若狭（林原惠美配音）给他无微不至的关怀与照顾，野兽般少年的心底善良的花朵绽放。可是在兵荒马乱、人性沦丧的时代。他的美好期望相继落空，留给阿修罗的究竟是什么？本片根据漫画家乔治·秋山（本名：秋山勇二）的同名原著改编。</p>

            </div>
    </div>
                <hr>


<div class="page-footer">

            <nav aria-label="Page navigation">
                <ul class="pagination ">

                    <li class="page-item ">
                            <a class="page-link" href="
    /test/page/4">&laquo;</a>
                        </li>


                                <li class="page-item">
                                    <a class="page-link" href="
    /test">1</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/2">2</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/3">3</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/4">4</a>
                                </li>




                                <li class="page-item active">
                                    <a class="page-link" href="#">5 <span class="sr-only">(current)</span></a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/6">6</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/7">7</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/8">8</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/9">9</a>
                                </li>



                            <li class="page-item disabled"><a class="page-link" href="#">…</a></li>



                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/311">311</a>
                                </li>




                                <li class="page-item">
                                    <a class="page-link" href="
    /test/page/312">312</a>
                                </li>



                    <li class="page-item ">
                            <a class="page-link" href="
    /test/page/6">&raquo;</a>
                        </li></ul>
            </nav>


</div>



    <!-- #portfolio -->



    <!-- #contact -->





</div><!-- #footer -->





<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/jquery.actual.min.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>